[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
sdist = "python setup.py sdist"
bdist_wheel = "python setup.py bdist_wheel"

[dev-packages]
mypy = "*"
autopep8 = "*"

[packages]
wrapt = "*"

[requires]
python_version = "3.8"
